.logo {
    width: 65px;
    height: 65px;
}

/************************** Non Auth Header ***************************/

.nonAuthHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.getstartedButton {
    width: 122px;
    height: 44px;
    border: 1px solid #E15119;
    border-radius: 22px;
    margin-right: 16px;
    transition: background-color 0.75s;
    text-align: center;
    line-height: 44px;
    color: #E15119;
}

.signupButton {
    width: 122px;
    height: 44px;
    border: 1px solid #E15119;
    border-radius: 22px;
    margin-right: 16px;
    transition: background-color 0.75s;
    text-align: center;
    line-height: 44px;
    color: #E15119;
}

.loginButton {
    width: 122px;
    height: 44px;
    border: 1px solid #98B1C4;
    border-radius: 22px;
    margin-right: 16px;
    transition: background-color 0.75s;
    text-align: center;
    line-height: 44px;
    color: #98B1C4;
}

.getstartedButton:hover,
.signupButton:hover {
    background-color: #E15119;
    color: white;
}

.loginButton:hover {
    background-color: #98B1C4;
    color: white;
}

/********************** Auth Header **********************/

.authHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authHeader div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchFieldAuth {
    border: 1px solid #98B1C4;
    border-radius: 20px;
    width: 7.5em;
    height: 2.625em;
    text-align: center;
    color: #929292;
    margin-right: 16px;
}

.searchFieldNonAuth {
    visibility: hidden;
}

.profileimg {
    width: 35px;
    height: 35px;
    border-radius: 24px;
    margin-right: 16px;
}
